<div class="row">	
	<div class="presentation col-lg-10 col-md-10 col-sm-11 col-xs-12" >
		<h2>Qui suis-je?</h2>

		<img ng-src="app/img/0.jpg" alt="portrait auteur" class="d-none-xs" />

		<p>Je me prénomme Anthony, j'ai suivi une formation de 2 ans à la webacadémie afin de devenir développeur web suite à une réorientation scolaire.</br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem mauris, feugiat in nisi eget, posuere mattis turpis. Aliquam quis sapien lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam volutpat in sapien ut faucibus. Phasellus turpis nibh, semper dapibus felis sed, iaculis dignissim elit. Phasellus eget quam eu erat sagittis pellentesque non at nibh. Integer porttitor dui sapien, ac vestibulum quam tincidunt in. Pellentesque congue libero non volutpat ultricies.</p>
	</div>
</div>