<div class="single-item">
	<div>
		<!-- <a href=" https://cat-match.herokuapp.com" target="_blank"> -->
			<img src="app/img/cat.png" alt="photo de chats" />
		<!-- </a> -->
	</div>
	<div>
		<!-- <a href=" https://github.com/Heraclesnyx/book/tree/master/book_store" target="_blank"> -->
			<img src="app/img/book.png" alt="photo de chats" />
		<!-- </a> -->
	</div>

	<div>
		<!-- <a href=" https://cat-match.herokuapp.com" target="_blank"> -->
			<img src="app/img/cat.png" alt="photo de chats" />
		<!-- </a> -->
	</div>
</div>



<script>
	$(document).ready(function(){
		$('.single-item').slick();
	});
</script>