#formulaire {
	border: 1px solid green;

}

form {
	border-radius: 10px;
	border: 1px solid grey;
	margin: auto;
    width: 50%;
	/*background-color: #000000;*/
}

/*label {
	border: 1px solid cyan;
	float: left;
}*/