form {
	border-radius: 10px;
	border: 1px solid grey;
	margin: auto;
    width: 50%;
    margin-top: 50px;
	background-color: blue;
}

/*label {
	border: 1px solid cyan;
	float: left;
}*/

@media screen and (max-width: 992px) {
	form {
		background-color: olive;
	}
}

@media screen and (max-width: 600px) {

	form {
		
		background-color: yellow;

	}

}
