.presentation {
	/*overflow: hidden;*/
	float: right;
	margin-top: 75px;
}

.presentation img {
	margin: -38px 15px;
	float: left;
	max-height: 100%;
	width: 150px;
	box-shadow: 10px 10px #8F9FBF;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid black;
	background-color: #F2F2F2;
}

.presentation p {
	margin: 65px 0 0 220px;
    font-size: 18px;
    text-align: justify;
    /*box-sizing: inherit;*/
}

