.presentation {
	height: 270px;
	overflow: hidden;
	float: right;
	margin-top: 75px;
}

.presentation img {
	margin: -22px 15px;
	float: left;
	max-height: 100%;
	/*width: auto;*/
}

.presentation p {
	margin: 65px 0 0 220px;
    font-size: 16px;
}

