body {
    line-height: 1;
    background-color: #0E2759;
    margin: auto;
    /*overflow: hidden;*/
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1, h2{
    color: #8F9FBF;
    text-align: center;
}

.container{
    margin: auto;
}
p{
    color: #A3BAD9;
}

.contact{
    height: 60px;
    width: 70px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #F2F2F2; /*A modifer*/
    border-radius: 10%;

}

button {
    /*color: #FFF9FF;*/
    position: fixed;
    bottom: 0;
    right: 0;
    width: 55px;
    height: 55px;
    border-radius: 20%;
    margin: 0px 6px;
    background-color: black;
    /*float: right;*/
}

.fa {
    font-size: xx-large;
    color: #F2F2F2;
}


.single-item {
    position: relative;
    width: 90%;
    max-width: 992px;
    max-height: 500px;
    margin:0 auto;
}

.single-item div {
    height: 500px;
    background-position: center center;
    background-size: cover;
}

.single-item div a {
    position: absolute;
    left: 50%;
    top: 80%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    background: rgba(0,0,0,.5);
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
}

/*.slick-prev {
    left: 7px;
}

.slick-next {
    right: 7px;
}*/

/*.slick-prev:before,
.slick-next:before {
    color: #000;
}*/