<div class="projets">
	<div class="projet">
		<a href=" https://cat-match.herokuapp.com" target="_blank">
			<img src="app/img/cat.png" alt="photo de chats" />
		</a>
		<div class="desc">Projet réaliser en NodeJs</div>
	</div>

	<div class="projet">
		<a href=" https://cat-match.herokuapp.com" target="_blank">
			<img src="app/img/cat.png" alt="photo de chats" />
		</a>
		<div class="desc">Projet réaliser en NodeJs</div>
	</div>

	<div class="projet">
		<a href=" https://cat-match.herokuapp.com" target="_blank">
			<img src="app/img/cat.png" alt="photo de chats" />
		</a>
		<div class="desc">Projet réaliser en NodeJs</div>
	</div>
</div>