{% extends 'index.html.twig' %}

{% block body %}
{% endblock %}



<!-- <body ng-app="app" ng-controller="mainController">
 -->

<!-- <div class="header">
  <div class="container">
    <h1>Mon portfolio</h1>
  </div>
</div>

<div id="main">
  
  <a href="/contact"><button type="button">Contactez moi</button></a>

  <div ng-view>
    <! <div ng-include="'app/js/templates/projets.html'"></div> -->
  <!-- </div> -->

  <!-- <div ng-include="'app/js/templates/projets.html'"></div> -->


<!-- </div> -->

<!-- Modules -->
<!-- <script type="text/javascript" src="app/js/app.js"></script> -->
<!-- </body>
</html> -->