<!-- app/Resources/views/Emails/registration.html.twig -->
<h3>Envoie de mail</h3>

Hello! Votre mail a été envoyé avec succès.
{{ data.lastname|upper }}
{{ data.firstname }};
{{ data.mail }};
{{ data.content }}